* {
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  background-color: #38444b;
  font-family: Space Grotesk;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Messapia;
}
.App {
  position: relative;
}
