.wrapper {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}
.text {
  width: 50%;
  height: 100vh;
  padding: 15px 15px 15px 100px;
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../images/samer.jpg') no-repeat -10px;
  background-blend-mode: darken;
}
.text h1 {
  font-size: 70px;
  line-height: 84px;
  font-weight: normal;
  color: #ffe63e;
  text-transform: uppercase;
}
.text p {
  font-size: 20px;
  color: #fbf7db;
  text-transform: uppercase;
  margin-top: 15px;
  letter-spacing: 4px;
}
.text .btn {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border: 1px solid #ffe63e;
  color: #ffe63e;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 4px;
  margin-top: 80px;
  overflow: hidden;
  transition: all ease 0.5s;
  z-index: 1;
}
.text .btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #ffe63e;
  z-index: -1;
  transition: all ease 0.5s;
}
.text .btn:hover {
  font-weight: 700;
  color: #38444b;
}
.text .btn:hover:before {
  left: 0;
}

.social {
  bottom: 100px;
  margin-top: 200px;
  position: absolute;
  bottom: 50px;
}
.social a {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fbf7db;
  margin-right: 10px;
  border: 1px solid #53636d;
  border-radius: 50%;
  transition: all ease 0.5s;
}
.social a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffe63e;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  transition: all ease 0.5s;
}
.social a:hover {
  color: #38444b;
}
.social a:hover:before {
  transform: scale(1);
}

.img {
  width: 50%;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}
.img img {
  width: 250px;
  margin: 15px;
}
.img .img-stripe {
  width: calc(50% - 15px);
}

.img .stripe1 {
  animation: stripe-one 60s ease 0s infinite;
}
@keyframes stripe-one {
  50% {
    transform: translateY(-200%); /*In depends on your image stripe height*/
  }
}

.img .stripe2 {
  transform: translateY(-200%); /*In depends on your image stripe height*/
  animation: stripe-two 60s ease 0s infinite;
}
@keyframes stripe-two {
  50% {
    transform: translateY(0%);
  }
}

/*RESPOSIVE*/
@media only screen and (max-width: 1024px) {
  .wrapper {
    display: flex;
    height: auto;
    overflow-y: auto;
    flex-wrap: wrap;
  }
  .text {
    width: 100%;
    height: auto;
    padding: 100px 40px 40px;
  }
  .img {
    width: 100%;
    flex-wrap: wrap;
  }
  .img .img-stripe {
    width: 100%;
    animation: none !important;
    display: flex;
    max-width: 100%;
    overflow-x: auto;
    transform: translateY(0) !important;
  }
  .social {
    margin-top: 50px;
    position: relative;
    bottom: 0;
  }
  .text .btn {
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin-top: 60px;
  }
  .menu {
    width: 80%;
  }
}

@media only screen and (max-width: 575px) {
  .menu {
    width: 100%;
    height: 80%;
  }
  nav ul li a {
    font-size: 25px;
  }
}

@media only screen and (max-width: 480px) {
  .text h1 {
    font-size: 42px;
    line-height: 54px;
  }
  .text p {
    font-size: 18px;
    line-height: 28px;
  }
  nav {
    padding: 100px 30px;
  }
}

@media only screen and (max-width: 375px) {
  .menu {
    height: 60%;
  }
  nav ul li {
    margin-bottom: 15px;
  }
}
